

<div class="tweet" id="tweet-{{ tweetid }}">
	<img src="./images/{{ xyz.img }}">
	<div class="body">
		<div class="title">{{ xyz.handle }}</div>
		<div class="message">{{ messageText }}</div>
	</div>
</div>


